.button {
  border: none;
  padding: 0.5rem 1rem;
  color: #ffffff;
  border-radius: 4px;
}

.primary {
  background-color: rgb(102, 102, 236);
}

.secondary {
  background-color: rgb(226, 27, 70);
}
