.tabs {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  border: 1px solid rgb(102, 102, 236);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.itemTabs {
  cursor: pointer;
  padding: 0.5rem;
}

.selected {
  color: rgb(102, 102, 236);
}
